body{
    width: 50%;
    margin:0 auto;
}
input{
    font-size: 20px;
    color: #2c3e50;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid  #2c3e50;
    padding: 5px;
}
.task{
    background-color: #34495e;
    padding: 15px;
    margin: 5px;
    overflow-x: hidden;
    border-radius: 5px;
    cursor: pointer;
}
.task span{
    color: #ffffff;
}
.icon{
    float: right;
    margin-right:20px ;

}
article{
    display: grid;
}
.edit-todo{
    width: 85%;
    font-size: 16px;
    color: #ffffff;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid  #ffffff;
}

.button{
    margin: 0 10px;
    padding: 10px;
    font-size: 14px;
    color: #6c6777;
    background-color: #ffffff;
    border:none;
    cursor: pointer;
    width: 100px;
    border-radius: 5px;
    margin-top: 15px;
}
.button.selected{
    color: #ffffff;
    background-color: #6c6777;
}
.button.clear{
    float: right;
    color: #ffffff;
    background-color: #ee1630;
    width: 160px;
}
.footer{
    display: flex;
    justify-content: center;
    color: #34495e;
    font-size: 20px;
}